body {
  background-color: #fff9f9;
}
h1 {
  font-size: 32px;
  font-family: Didot, serif;
  
}
.header {
  margin: auto;
  width: 50%;
  padding: 10px;
}
h2 {
  font-family: Georgia, serif;
  color: #fd5858;
  margin: auto;
  width: 50%;
  padding: 10px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
 

}
ul {
  font-family: Verdana, sans-serif
    margin: auto;
  width: 50%;
  padding: 10px
}
p {
  font-family: Verdana, sans-serif
    margin: auto;
  width: 50%;
  padding: 10px
}
