body {
  background-color: #fff9f9;
}
h1 {
  font-size: 32px;
  font-family: Didot, serif;
  text-align: center;
  
}
.header {
  text-align: center;
}
h2 {
  text-align: center;
  font-family: Georgia, serif;
  color: #fd5858;
  margin: auto;
  width: 50%;
  border: groove black;
}
h3{
  text-align: center;
}
h4 {
  text-align: center;
}
  
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
 

}
ul {
  text-align: center;
  font-family: Verdana, sans-serif
   
}
p {
  text-align: center;
  font-family: Verdana, sans-serif
    
}
